<%- include("./partials/header.ejs") %>
<%- include("./partials/admin-nav.ejs") %> 

<div class="container mt-5">
    <form style="margin: 0 350px;">
        <h1 style="text-align: center;" class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div style="display: flex; justify-content: center;" class="checkbox mb-3 my-3">
          <label >
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p style="text-align: center;" class="mt-5 mb-3 text-muted">© AdehenryOmoOba 2021</p>
      </form>
</div>


<%- include("./partials/footer.ejs") %> 