<%- include("./partials/header.ejs") %>
<%- include("./partials/admin-register-nav.ejs") %> 

<div class="container mt-5">
 
    <div class="container mt-5">
        <form action="/admin/sign-up" method="POST" style="margin: 0 350px;">
            <h1 style="text-align: center;" class="h3 mb-3 fw-normal">Please sign up</h1>
            <div class="form-floating">
              <input name="username" type="username" class="form-control" id="floatingInput" placeholder="Username">
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
              <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Sign up</button>
            <p style="text-align: center;" class="mt-5 mb-3 text-muted">© AdehenryOmoOba 2021</p>
          </form>
    </div>
    

</div>


<%- include("./partials/footer.ejs") %> 