<%- include("./partials/header.ejs") %> 

<%- include("./partials/navBar.ejs") %> 


  <div class="container">

      <div class="body mt-3">
        <h1>Fresh Blogs </h1>

        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Blog title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>

  </div>
  



<%- include("./partials/footer.ejs") %> 

